<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VerbNoun</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>-->
    {{ JSGlue.include() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Xen.ico') }}">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
